#!/bin/ash

# synclient -> xserver-xorg-input-synaptics

# Acer laptop
if [ $HOSTNAME = Jaguar ]
then
  if xrandr | fgrep "HDMI-1 disconnected"
  then
    xrandr --output VGA-0 --off --output HDMI-1 --off --output LVDS-1   --primary --auto
#    synclient TouchPadOff=0
  else
    xrandr --output VGA-0 --off --output LVDS-1   --off --output HDMI-1 --primary --auto
#    synclient TouchPadOff=1
  fi
fi


# HP laptop
if [ $HOSTNAME = Lion ]
then
  if xrandr | fgrep "HDMI-1 disconnected"
  then
    xrandr --output HDMI-1 --off --output eDP-1  --primary --auto
    synclient TouchPadOff=0
  else
    xrandr --output eDP-1  --off --output HDMI-1 --primary --auto
    synclient TouchPadOff=1
  fi
fi

