#!/bin/bash

# synclient -> xserver-xorg-input-synaptics

# Acer laptop
if [ $HOSTNAME = Penguin ]
then
  if xrandr | fgrep "HDMI-0 disconnected"
  then
    xrandr --output VGA-0 --off --output HDMI-0 --off --output LVDS   --primary --auto
    synclient TouchPadOff=0
  else
    xrandr --output VGA-0 --off --output LVDS   --off --output HDMI-0 --primary --auto
    synclient TouchPadOff=1
  fi

  # vlc adjustment
  export QT_AUTO_SCREEN_SCALE_FACTOR=0
fi


# laptop
if [ $HOSTNAME = Lion ]
then
  if xrandr | fgrep "HDMI-1 disconnected"
  then
    xrandr --output HDMI-1 --off --output eDP-1  --primary --auto
    synclient TouchPadOff=0
  else
    xrandr --output eDP-1  --off --output HDMI-1 --primary --auto
    synclient TouchPadOff=1
  fi
fi

