!  $HOME/.Xresources
!
!  /usr/share/fonts/misc
!
!
!  fonts -> xlsfonts
!  reload X settings -> xrdb -load ~/.Xresources

*colorBD:         yellow
*colorBDMode:     true
*colorUL:         cyan
*colorULMode:     true
*cursorColor:     green
*font:            9x15
*geometry:        148x60
*saveLines:       4096

xterm*font:       10x20
xterm*background: black
xterm*foreground: white
xterm*geometry:   132x45
xterm*scrollBar:  true

urxvt*termName:   xterm
urxvt*background: black
urxvt*foreground: white

urxvt*loginShell: true
xterm*loginShell: true

