#  /usr/local/share/applications

[Desktop Entry]
Name=urxvt
Comment=
Exec=urxvt -fn 6x13
Icon=utilities-x-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;

Actions=new-term;

[Desktop Action new-term]
Name=urxvt
Exec=urxvt -fn 6x13

